{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {

            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

{% block navbar %}

{% endblock %}

<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% block content %}
                    hello it's empty block
                {% endblock %}
            </div>
            <div class="col-4">
                <div class="row">
                    <h2 class="mt-4">Popular tags</h2>
                    <div class="tags">
                        <span class="badge bg-primary">Python</span>
                        <span class="badge bg-secondary">CSS</span>
                        <span class="badge bg-success">Sich</span>
                        <span class="badge bg-dark">Django</span>
                        <span class="badge bg-danger">Vk</span>
                    </div>
                    <br/>
                    <h2 class="mt-4">Best members</h2>
                        <ul class="list-group" style="margin-left: 15px; max-width: 250px;">
                            <li class="list-group-item"><a href=""></a>Mr.Freman</li>
                            <li class="list-group-item"><a href=""></a>Volosh</li>
                            <li class="list-group-item"><a href=""></a>Sich</li>
                            <li class="list-group-item"><a href=""></a>Crazy Den</li>
                            <li class="list-group-item"><a href=""></a>Big D</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="footer mt-auto bg-dark w-100">
    <span class="placeholder col-12 bg-dark"></span>
</footer>

<script src="{% static '/js/bootstrap.js' %}"></script>
</body>
</html>
