{% extends 'layouts/base.html' %}

{% load static %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'components/reg-navbar.html' %}
    {% else %}
        {% include 'components/unreg-navbar.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    
    <div class="d-flex align-items-center mt-4">
        <h1 class="me-3 mb-0">{{ p1 }} Новые вопросы</h1>
        <a href="{% url 'best' %}" class="btn btn-dark btn-sm text-white">Лучшие вопросы</a>
    </div>

    {% for question in questions %}
        {% include 'components/question-item.html' %}
    {% endfor %}

    {% include 'components/paginator.html' %}
{% endblock %}