{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <h1>Вход</h1>
    <div class="error">Извините, неверный пароль!</div>
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" placeholder="Введите ваш логин">
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введите ваш пароль">
        </div>
    <div>
        <input type="submit" value="Войти">
    </div>

    <a href>создать новый аккаунт</a>

{% endblock %}