{% extends 'layouts/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'components/reg-navbar.html' %}
{% endblock %}

{% block content %}

    <div class="d-flex align-items-center mt-4">
        <h1 class="me-3 mb-0">{{ p1 }} Новые вопросы</h1>
        <a href="{% url 'best' %}" class="btn btn-dark btn-sm text-white">Лучшие вопросы</a>
    </div>

    {% for question in page_obj %}
        {% include 'components/question-item.html' %}
    {% endfor %}

    {% include 'components/paginator.html' %}

{% endblock %}