{% extends 'layouts/base.html' %}
{% load static %}
{% block navbar %}

    {% include 'components/reg-navbar.html' %}

{% endblock %}

{% block content %}

    <h2 class="mb-3 mt-4">Вопрос</h2>

    {% include 'components/question-item.html' %}

    <h4 class="mt-4 mb-4">{{ question.answers.count }} Ответов</h4>

    {% for answer in page_obj %}
        {% include 'components/answer-item.html' %}
    {% endfor %}

    {% include 'components/paginator.html' %}

    <form method="post" action="{% url 'question' question.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="answerText" class="form-label">Ваш ответ</label>
            <textarea class="form-control mb-3" id="answerText" name="answerText" rows="3"
                      placeholder="Введите здесь свой ответ" required></textarea>
            <button type="submit" class="btn btn-primary bottom-element">Ответить</button>
        </div>
    </form>
    <script>
        window.onload = function () {
            if (window.location.hash) {
                const id = window.location.hash;
                const element = document.querySelector(id);
                if (element) element.scrollIntoView();
            }
        };
    </script>

{% endblock %}