{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% block navbar %}
    {% include 'components/reg-navbar.html' %}
{% endblock %}

{% block content %}

    <h1 class="mt-3 mb-3">Настройки</h1>
    <form method="post" action="{% url 'settings' %}" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% bootstrap_form form %}
        {% if request.user.profile.avatar %}
            <div class="avatar-container">
                <img src="{{ request.user.profile.avatar.url }}" alt="Profile Avatar" class="profile-avatar img-fluid w-25 h-auto rounded-circle"/>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-4">Сохранить настройки</button>
    </form>

{% endblock %}
